* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    background-image: url(../images/alex-perez-pEgsWN0kwbQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.hero {
    text-align: center;
}

h1, .headline {
    font-family: "Kaushan Script", serif;
    font-style: normal;
    font-size: 4rem;
}

.headline {
    font-size: 3.125rem;
}

.hero-boxes {
    margin-inline: auto;
    width: max-content;
    position: relative;
    overflow: hidden;
}

.hero-box, .hero-box::after, .hero-box::before{
    width: 21.25rem;
    height: 14.1875rem;
    float: left;
}

.hero-box::after, .hero-box::before {
    content: '';
    background-color: white;
    position: absolute;
    z-index: -1;
}

.hero-box {
    background-color: #5C0137;
}

.hero-box+.hero-box {
    background-color: #104948;
}

section {
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
}

.portfolio {
    position: relative;
}

section:nth-of-type(2) {
    background-color: #5C0137;
}

section:nth-of-type(3) {
    background-color: #104948;
}

.portfolio article {
    position: absolute;
    left: 0;
    right: 0 ;
    margin-left: 5%;
    max-width: 95%;
}

.portfolio h2, .portfolio::after {
    font-family: "Londrina Shadow", serif;
    font-size: 5rem;
}

.portfolio h2 {
    font-weight: 400;
}

.portfolio article {
    display: none;
    justify-content: space-evenly;
}

.frame.current-slide {
    display: flex;
    animation: slide-frame 2s ease-in;
    animation-fill-mode: forwards;
}

.frame.next-slide {
    display: flex;
    animation: slide-in 2s ease-in forwards;
}

.frame-photo {
    --size: calc(100vh - 10rem);
    width: var(--size);
    height: var(--size);
    position: relative;
}

.frame-photo img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.app-photo {
    position: relative;
    width: calc(100vh);
}
.app-photo img {
    position: absolute;
    bottom: -4rem;
}

.portfolio::after {
    content: 'PORTFOLIO';
    color: white;
    position: absolute;
    bottom: 0;
    right: 1rem;
    transform: rotateX(180deg);
}


.frame-photo {
    border: 1.5rem solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    overflow: hidden;
}

@keyframes slide-frame {
    0% {
        transform: translateX(0);
    }

    99% {
        transform: translateX(-100%);
    }
    100% {
        display: none;
        transform: translateX(-100%);
    }
}

@keyframes slide-in {
    0% {
        display: flex;
        transform: translateX(100%);
    }

    100% { transform: translateX(0); }
}